
.bs-accordion 
  .panel-heading {
    padding: 0; }

  .bs-accordion 
  .panel-heading
    a {
      display: block;
      padding: 10px 15px;
    }

    
  .bs-accordion .panel-heading a [aria-expanded=true] .glyphicon.glyphicon-chevron-right {
          transform: rotate(90deg);
          transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
        
      }

      .bs-accordion .panel-heading a .glyphicon.glyphicon-chevron-right {
        transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    
  
